// -----------------------------------------------------------------------------
// This file contains all styles related to the welcome section of the site/application.
// -----------------------------------------------------------------------------

.welcome {
   text-align: center;
   background: transparent url("../../assets/Group\ 5.png") no-repeat;
   background-position: right -11.5rem top -28rem;
   line-height: 1px;
   
   height: 100vh;
   min-height: 30em;
   max-height: 36em;

   padding-top: 14em;

   @include respond-to("large") {
      margin: 0;
      max-width: 100%;

      text-align: left;
      padding-left: 4em;
   }

   h1 {
      font-weight: lighter;
      min-width: 10px;

      span {
         font-weight: bold;
      }
   }

   h2 {
      font-weight: lighter;
      line-height: 1em;
   }

   button {
      position: relative;
      top: 4em;
   }
}
