@use "../abstracts/mixins";
// -----------------------------------------------------------------------------
// This file contains all styles related to the welcome section of the site/application.
// -----------------------------------------------------------------------------

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: transparent url("../../assets/Group\ 5.png") no-repeat;
  background-position: right -11.5rem top -28rem;

  @include mixins.respond-to("large") {
    text-align: left;
    align-items: baseline;
    padding-left: 5em;
  }

  h1 {
    margin: 0;
    font-weight: lighter;
    min-width: 10px;

    span {
      font-weight: bold;
    }
  }

  h2 {
    margin: 0;
    font-weight: lighter;
    line-height: 1em;

    @include mixins.respond-to("mobileLarge") {
      padding: 0 1em;
    }

    @include mixins.respond-to("medium") {
      padding: unset;
    }
  }

  button {
    position: relative;
    top: 3em;
  }
}
