.tooltip {
  position: relative;
  align-self: center;
  padding: 2px;

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .tooltiptext {
    visibility: hidden;
    position: absolute;
    bottom: 110%;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    padding: 0.5em;
    opacity: 0;
    transition: opacity 0.3s;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
}
