.contact-me {
   padding-top: 2em;
   padding-bottom: 2em;
   text-align: center;

   h3 {
      margin-top: 0;
      text-align: left;
   }

   .copy-paste__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond-to("large") {
         flex-direction: row;
         flex-wrap: wrap;
      }

      img {
         padding: 0.5em 1em;
         margin-bottom: 1.2em;

         width: clamp(18em, 80vw, 20em);

         transition: box-shadow 0.3s;

         &:hover {
            box-shadow: 0px 0px 10px 10px #ccc;
         }
      }
   }
}
